*{
    padding: 0;
    margin: 0;
    background: #ede8f5;
    background-blend-mode: hard-light;
} 
h1{
    background: linear-gradient(rgba(112, 42, 9, 0.377),rgba(194, 123, 17, 0.815));
   text-align: center; 
} 
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    align-content: center;
    position: relative;
    top: 120px;
}
.box{ 
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    align-content: center;
    padding: 10px;
    box-shadow: 10px 10px 5px black;
} 
.input{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,50%);
}

